// -----------------------------------------------------------------------------
// Section
// -----------------------------------------------------------------------------

.section {
    position: relative;
    width: 100%;
    overflow: hidden;
}