// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

//
// Sections
//

$section-auth-max-width:		330px !default;
$section-auth-padding: 			15px !default;
$section-auth-margin: 			0 auto !default;
$section-auth-form-group-mb:	10px !default;

$section-matches-padding: 		30px 0 0 0 !default;
